<!-- <nav>
    <ul>
        <% if (user) { %>
            <li>
                <a href="/auth/logout">Log Out</a>
            </li>
            <% } else { %>
                <li>
                    <a href="/auth/google">Login with Google</a>
                </li>
            <% } %>
    </ul>
</nav> -->

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="https://lh3.googleusercontent.com/proxy/Tb2ZM6iAVZed-xTJp7_pauRK1UFOAA1Hv3vttjxxVRlo2aYsTLYjfifNZSrCIE9ZMIheVr2RPStN6IsTu0xq5Yv2ihsr7kpdrt-QMEygxSYz" width="75">
      <!-- <a class="navbar-item" href="/">
      </a> -->

      <% if (user) { %> 
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/beers">
          My Beers
        </a>

        <a class="navbar-item" href="/beers/show">
            Display Beers
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/users">
              User Settings
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
      
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/auth/logout">
              <strong>Sign out</strong>
            </a>
          </div>
        </div>
    </div> 

      <% } else { %> 

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/auth/google">
                    <strong>Log in</strong>  
                    </a>
                </div>
            </div>
        </div>
    <% } %> 
</nav>