<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="image is-96x96" href="/">
        <img class="is-rounded" src="https://cliply.co/wp-content/uploads/2019/07/371907850_BEER_TOAST_400x400.gif" >
      </a>
    </div>

      <% if (user) { %> 
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/beers/new">
          Beer Search
        </a>
        
        <a class="navbar-item" href="/beers">
          Beer Collection
        </a>
        
        <a class="navbar-item" href="/messages">
          Message Board
        </a>
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/users">
              User Lists
            </a>
            <a class="navbar-item" href="/users/profile">
              User Profile
            </a>
            <!-- <hr class="navbar-divider">
            <a class="navbar-item" href="http://o-x-touch.surge.sh/">
              Report an issue
            </a> -->
          </div>
        </div>
      </div>
      
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger is-outlined" href="/auth/logout">
              <strong>Sign out</strong>
            </a>
          </div>
        </div>
      </div> 

      <% } else { %> 

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-success is-outlined" href="/auth/google">
              <strong>Google Login</strong>  
            </a>
          </div>
        </div>
      </div>
    <% } %> 
</nav>