<%- include('partials/header') %>
<%- include('partials/nav') %> 

<h1 id="homepage" class="title is-1">Tapmate</h1>
<h2 class="title is-2">Welcome, <%= user ? user.name : "Friend" %></h2>







<%- include('partials/footer') %>
