/* body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

nav {
  background-color: white;
} */


#footer-footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}