<%- include('../partials/header') %> 
<%- include('../partials/nav') %> 

<h1><%= title %></h1>

<form action="/beers" method="POST">
    <div class="field">
        <label class="label" for="name">Beer Name: </label>
        <div class="control">
            <input class="input" type="text" name="name" id="" placeholder="Enter Beer Name">
        </div>
        <label class="label" for="tagline">Beer Tagline: </label>
        <div class="control">
            <input class="input" type="text" name="tagline" id="" placeholder="Enter Tagline"><br>
        </div>
        <label class="label" for="description">Beer Description: </label>
        <div class="control">
            <textarea class="textarea" type="text" name="description" id="" placeholder="Enter Description"></textarea>
        </div>
        <label class="label" for="image_url">Beer Image: </label>
        <div>
            <input class="input" type="url" name="image_url" id="" placeholder="Beer Image"><br>
        </div>
        <button class="button is-primary" type="submit">Add Beer</button>
    </div>
</form>




<%- include('../partials/footer') %> 