<%- include('../partials/header') %> 
<%- include('../partials/nav') %> 

<h1><%= title %></h1>

<form action="/beers" method="POST">
    <div>
        <label for=""></label>
    </div>
</form>




<%- include('../partials/footer') %> 