<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h1>display beer!</h1>
<!-- <form action="/beers/show" method="POST">
    <input type="text" name="name">
</form> -->
<h3>Name: <% beer.name %></h3> 



<%- include('../partials/footer')  %>